messangers + ai.json
{
  "name": "messangers + ai",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -1040
      ],
      "id": "3e71c078-7253-4bed-8199-b884088a879f",
      "name": "Telegram Trigger",
      "webhookId": "8e128568-d5dc-46d7-b07c-431c9282fd28",
      "credentials": {
        "telegramApi": {
          "id": "YhU6bXc0YXlGmuW5",
          "name": "Telegram @ai_agent_bid_bot"
        }
      }
    },
    {
      "parameters": {
        "model": "GigaChat",
        "options": {}
      },
      "type": "n8n-nodes-gigachat.lmGigaChat",
      "typeVersion": 1,
      "position": [
        224,
        -192
      ],
      "id": "63233e1f-3a06-4d49-b4b5-614d77a5368f",
      "name": "GigaChat Model",
      "credentials": {
        "gigaChatApi": {
          "id": "jAxtcDIlGKVMFIu2",
          "name": "GigaChat account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -512
      ],
      "id": "dc851cf0-2f74-4c7c-8580-2723c2bab4f7",
      "name": "Schedule Trigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"id\", \"user_id\", \"platform\", \"accumulated_text\", \"client_name\", \"created_at\"\nFROM \"user_sessions\" \nWHERE \"last_message_at\" < NOW() - INTERVAL '5 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -512
      ],
      "id": "9c7c8082-aa32-4d71-bb48-5b26c8ef6dbe",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "PPwH3l5V5REs2vVh",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n    UPDATE user_sessions\n    SET \n        accumulated_text = accumulated_text || CHR(10) || '{{ $json.messageText }}',\n        last_message_at = NOW()\n    WHERE user_id = '{{ $json.userId }}'\n      AND last_message_at >= NOW() - INTERVAL '5 minutes'\n    RETURNING id\n)\nINSERT INTO user_sessions (user_id, platform, accumulated_text, last_message_at, client_name)\nSELECT \n    '{{ $json.userId }}', \n    '{{ $json.platform }}', \n    '{{ $json.messageText }}', \n    NOW(),\n    '{{ $json.client_name }}'\nWHERE NOT EXISTS (SELECT 1 FROM updated);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        -944
      ],
      "id": "701c842a-c8f5-49a0-a107-b0fe3f46b990",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "PPwH3l5V5REs2vVh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "message_chat_created",
          "message_created"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-max.maxTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -848
      ],
      "id": "862217bf-0752-498d-b585-214d6996a4aa",
      "name": "Max Trigger",
      "webhookId": "d5fb3f35-ed3a-4f8e-bbdd-678dfd357858",
      "credentials": {
        "maxApi": {
          "id": "fhR5pERuDAcEwByG",
          "name": "Max account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "612df312-8107-44d0-b7e5-fe2563431f9e",
              "name": "userId",
              "value": "={{ $json.message.chat.id }}{{ $json.message.recipient.user_id }}",
              "type": "number"
            },
            {
              "id": "fb91922f-aa48-4196-bf87-e71fca409b92",
              "name": "messageText",
              "value": "={{ $json.message.text }}{{ $json.message.body.text }}",
              "type": "string"
            },
            {
              "id": "422f27e2-5b1a-49f3-bcef-b1de7a936c4f",
              "name": "platform",
              "value": "={{ $prevNode.name.includes('Telegram') ? 'telegram' : 'max' }}",
              "type": "string"
            },
            {
              "id": "ab17f8b5-ad43-42dd-89c6-12fe143c69d0",
              "name": "client_name",
              "value": "={{ $json.message.chat.first_name }}{{ $json.message.sender.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -944
      ],
      "id": "5fedbe43-3b31-441c-a916-57f8e46b3acf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -512
      ],
      "id": "2ba0f839-ad4d-4640-9b3b-be028907ca4f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — умный ассистент по обработке входящих заявок. Твоя задача — проанализировать накопленный массив сообщений от одного пользователя и структурировать информацию для записи в CRM-таблицу.\n\nВот сообщения пользователя, которые нужно обработать:\n{{ $json.accumulated_text }}\n\nИзвлеки информацию и строго верни JSON-объект со следующими ключами (если информации для какого-то поля нет, оставь значение пустым \"\"):\n\n1. \"Отметка времени\" — {{ $json.created_at }}(приведи к формату ДД.ММ.ГГГГ ЧЧ:ММ:СС).\n2. \"Дата обращения\" — дата, когда клиент обратился {{ $json.created_at }}(в формате ДД.ММ.ГГГГ).\n3. \"Канал обращения клиента\" — определи платформу({{ $json.platform }}). Если в данных указано telegram, напиши \"Telegram\", если max — напиши \"Max\". Если упоминается почта, напиши \"Электронная почта\".\n4. \"От кого поступил запрос\" — определи роль (например: \"Клиент\"). Если неясно, пиши \"Клиент\".\n5. \"Обращение\" — тут должен быть текст заявки, обработай его, если нужно. НЕ ТЕРЯЙ ДЕТАЛЕЙ.\n6. \"Документы\" — чаще всего это ссылка на документ. Укажи ее, если документ есть, если же документа НЕТ, ОСТАВЬ ПУСТОЕ ПОЛЕ \"\".\n7. \"Приоритет выполнения\" — оцени срочность выполнения, если это срочно, то ставь \"Да\", если не срочно, ставь \"Нет\".\n8. \"Название компании\" — {{ $json.client_name }} - указывай это.\n9. \"Отметка о постановке\" — всегда пиши значение false.\n\n⚠️ ВАЖНО: Выдай ОТВЕТ СТРОГО в формате JSON. Не пиши никаких вводных слов, пояснений или markdown-разметки (без ```json). Только чистый объект.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -512
      ],
      "id": "26501266-875c-4afa-9918-f02bc11b8303",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        624,
        -288
      ],
      "id": "fc8e7f5a-5e87-48e0-a39d-e4274dcde60f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Отметка времени\": \"04.07.2026 17:18:13\",\n  \"Дата (образец 27.04.2026)\": \"04.07.2026\",\n  \"Канал обращения клиента\": \"Telegram\",\n  \"От кого поступил запрос\": \"Клиент\",\n  \"Обращение\": \"Коллеги, прошу, сообщить сколько дней и по каким должностям есть у Нины Петровны.У нее отпуск весь август по плану.\",\n  \"Документы\": \"\",\n  \"Наименование клиента\": \"ИП Васькова\",\n  \"Приоритет выполнения задачи для  исполнителя\": \"Нет\",\n  \"Отметка о постановки задачи\": \"false\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        -224
      ],
      "id": "d492c0d5-3987-4258-847a-7ce0bd8ff806",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_sessions \nWHERE id = {{ $('Loop Over Items').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        -704
      ],
      "id": "a8f43c66-acb8-43d1-a2a2-a97fb8ea43f1",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "PPwH3l5V5REs2vVh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_3GNjKKq8zi7sKkNLwL_VdhgG0L0ORQGRioYcspnbnc",
          "mode": "list",
          "cachedResultName": "Регистрация обращений клиентов (Ответы)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_3GNjKKq8zi7sKkNLwL_VdhgG0L0ORQGRioYcspnbnc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1221672994,
          "mode": "list",
          "cachedResultName": "Ответы на форму (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_3GNjKKq8zi7sKkNLwL_VdhgG0L0ORQGRioYcspnbnc/edit#gid=1221672994"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Отметка времени": "={{ $json.output['Отметка времени'] }}",
            "Дата (образец 27.04.2026)": "={{ $json.output['Дата (образец 27.04.2026)'] }}",
            "Канал обращения клиента": "={{ $json.output['Канал обращения клиента'] }}",
            "От кого поступил запрос": "={{ $json.output['От кого поступил запрос'] }}",
            "Обращение": "={{ $json.output['Обращение'] }}",
            "Документы": "={{ $json.output['Документы'] }}",
            "Приоритет выполнения задачи для  исполнителя": "={{ $json.output['Приоритет выполнения задачи для  исполнителя'] }}",
            "Наименование клиента": "={{ $json.output['Наименование клиента'] }}",
            "Отметка о постановки задачи": "={{ $json.output['Отметка о постановки задачи'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Отметка времени",
              "displayName": "Отметка времени",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата (образец 27.04.2026)",
              "displayName": "Дата (образец 27.04.2026)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Канал обращения клиента",
              "displayName": "Канал обращения клиента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "От кого поступил запрос",
              "displayName": "От кого поступил запрос",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Обращение",
              "displayName": "Обращение",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Документы",
              "displayName": "Документы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Приоритет выполнения задачи для  исполнителя",
              "displayName": "Приоритет выполнения задачи для  исполнителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Наименование клиента",
              "displayName": "Наименование клиента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Столбец 8",
              "displayName": "Столбец 8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Отметка о постановки задачи",
              "displayName": "Отметка о постановки задачи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ссылка на задачу в битрикс",
              "displayName": "Ссылка на задачу в битрикс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -688
      ],
      "id": "5d44fd45-ccf9-4dbf-872c-1cebec9b3c1c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rOOmZxYLwTgoskBh",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        -304
      ],
      "id": "703061ee-a4dd-4ac6-bcc2-7a17f9c43058",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jOzQrs3ygVLSvkHJ",
          "name": "YandexGPT Lite"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Moscow"
  },
  "versionId": "680613b4-a185-402b-b6ee-2cd590208bd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55b46ba1a20f193bd4639f433486417f4b6d53911c8b41a3f64ee3998d8930c2"
  },
  "nodeGroups": [],
  "id": "sulWWMaYQppPqi9n",
  "tags": []
}